:root{
    --red: #ff4e42;
    --dark-red: #730000;
    --yellow: #ffc024;
    --black: #000000;
    --blue: #1820ef;
    --darkened-white: #FAFAED;
    --gray: #c5c5c5;
    --shadow: #e0dbbf99;
    --white: #fff;
}

html,
body {
    margin: 0 auto;
    padding: 0 auto;
    font-family: "M PLUS Rounded 1c", sans-serif;
    background-color: var(--darkened-white);
}

header {
    display: block;
    background-image: url(/assets/red-pattern-main.png);
}

nav img {
    width: 124.69px;
    height: 15.67px;
    margin-top: 40.33px;
    margin-left: 40px;
}

#hero-bundle {
    display: flex;
    justify-content: center;
    margin-left: -150px;
}

.hero-text-bundle {
    margin-top: -45px;
    margin-right: 25px;
    position: relative;
}

.hero-text-title {
    display: flex;

}

.hero-text-bundle h1 {
    width: 48px;
    margin-top: 156px;
    margin-left: 264px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
    text-align: center;
    color: var(--yellow);

}

.hero-text-bundle h2 {
    width: 308px;
    margin-top: 280px;
    font-family: "M PLUS Rounded 1c";
    font-size: 160px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 100px;
    text-align: center;
    color: white;
    position: relative;
}

.hero-text-btn {
    margin-top: -120px;
}

.hero-text-btn p {
    width: 201px;
    position: relative;
    margin-left: 280px;
    font-family: "M PLUS Rounded 1c";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: white;
}

.hero-text-btn button {
    width: 213px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: var(--blue);
    color: white;
    font-family: "M PLUS Rounded 1c";
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 14px;
    font-weight: 800;
    line-height: 20.79px;
    letter-spacing: 1.7799999713897705px;
    text-align: left;
    text-transform: uppercase;
    margin-left: 273px;
    cursor: pointer;
}

#new-order{
    width: 250px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: var(--blue);
    color: var(--white);
    font-family: "M PLUS Rounded 1c";
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 20.79px;
    letter-spacing: 1.7799999713897705px;
}

#new-order i{
    color: var(--yellow);
    font-size: 20px;
}

.hero-text-btn button i {
    color: var(--yellow);
    font-size: 20px;
}

#hero-ilustrations {
    width: 673px;
    height: 683px;
    margin-top: 38px;
    margin-left: -160px;
}

.elipse {
    width: 587px;
    height: 587px;
    border-radius: 50%;
    background-color: var(--dark-red);
    margin-left: -25px;
}

.hero-ilustrations-bundle {
    margin-top: -630px;
}

.blue-baloon {
    margin-left: -50px;
}

.delivery {
    margin-top: -135px;
    margin-left: -65px;
}

.yellow-baloon {
    position: absolute;
    margin-top: -385px;
    margin-left: 515px;
}

#order-broth {
    padding: 0 auto;
}

.order-bundle {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.order-instruction {
    margin-top: 80px;
    margin-bottom: -35px;

}

.order-instruction h3 {
    font-size: 32px;
    font-weight: 900;
    line-height: 47.52px;
    text-align: center;

}

.order-instruction h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: -15px;
}

#order-choice {
    display: flex;
    width: 1087px;
    justify-content: space-between;
    align-items: center;
}

.option-card {
    width: 320px;
    height: 316px;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    cursor: pointer;
    box-shadow: -1px 2px 12px var(--shadow);
    transition: transform .25s, box-shadow .25s;
}

.option-card:hover {
    transform: translateY(-3px);
    box-shadow: 5px 4px 15px var(--shadow);
}

.option-card img{
    margin-top: 25px;
}

.option-card h4 {
    font-family: Rounded Mplus 1c;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: var(--blue);
}

.option-card p {
    font-family: Rounded Mplus 1c;
    font-size: 14px;
    width: 275px;
    font-weight: 600;
    text-align: center;
    color: black;
    margin: -15px;
}

.option-card h3 {
    color: rgba(255, 78, 66, 1);
    font-family: Rounded Mplus 1c;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.option-card.selected {
    background-color: var(--blue);
}

.option-card.selected h3 {
    color: var(--yellow);
}

.option-card.selected h4 {
    color: white;
}

.option-card.selected p {
    color: white;
}


#btn-checkout {
    display: flex;
    justify-content: center;
    align-content: center;
}

#create-order {
    width: 213px;
    height: 60px;
    border-radius: 50px;
    border: none;
    color: white;
    font-family: "M PLUS Rounded 1c";
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 55px 0;
    font-size: 14px;
    font-weight: 800;
    line-height: 20.79px;
    letter-spacing: 1.7799999713897705px;
    text-align: left;
    text-transform: uppercase;
    background-color: rgba(197, 197, 197, 1);
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
    border-radius: 5px;
}

.close {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}


#orderNow:hover,
#new-order:hover {
    background-color: #0056b3;
}

/*confirmation page*/

.hidden {
    display: none;
}

.confirmation-page{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0 auto;
    display: none;
    justify-content: space-between;
    overflow: hidden;
}

.order-details {
    background-image: url(/assets/blue-pattern.png);
    background-size: contain;
    display: block;
    width: 50vw;
    height: 100vh;
}

.order-details p{
    font-family: "M PLUS Rounded 1c";
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 3px;
    color: var(--red);
    margin: 30px 0px 0px 30px;
}

.order-details img {
    width: 375px;
    height: auto;
}

.header-success{
    height: 100vh;
    width: 50vw;
    margin-top: -55px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-success-content-info{
    margin-top: -55px;
}

.header-success-content-info h4{
    color: white;
}

.header-success-content-info span{
    font-family: "M PLUS Rounded 1c";
    font-size: 14px;
    font-weight: 900;
}

.header-success-content-info  p{
    font-family: "M PLUS Rounded 1c";
    font-size: 14px;
}

#order-image{
    width: 375px;
}

#order-name{
    font-size: 32px;
    color: var(--yellow);
    margin: 5px;
    line-height: 32px;
    font-family: "M PLUS Rounded 1c";
    font-weight: 900;
}

.order-status{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100vh;
    text-align: center;
}

.japanese-text{
    color: var(--yellow);
    font-family: "M PLUS Rounded 1c";
}

.eng-text{
    color: var(var(--red)) !important;
    font-family: "M PLUS Rounded 1c";
}

#new-order {
    border-radius: 50px;
    background-color: var(--blue);
    color: var(--darkened-white);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
}

@media screen and (max-width: 393px) and (max-height: 852px){
    #main-content{
        width: 400px;
        overflow: hidden;
    }

    nav {
        width: 350px;
        display: flex;
        justify-content: center;
        margin-top: -25px;
        padding: 10px;
    }
   
    #hero-ilustrations{
        width: 400px;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .elipse{
        width: 310px;
        height: 310px;
        position: absolute;
    }

    .delivery img{
        width: 350px;
        height: 350px;
        position: relative;
        margin-top: 755px;
    }

    .blue-baloon img{
        position: absolute;
        width: 65px;
        margin-top: 595px;
        margin-left: 20px;
        
    }

    .yellow-baloon{
        margin-left: 230px;
        margin-top: -260px;
    }

    .yellow-baloon img{
        width: 75px;
    }

    #hero-bundle{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        flex-direction: column-reverse;
        width: 400px;
        height: 780px;
        margin: 0;
        padding: 0;
    }

    .hero-text-bundle{
        padding: 15px;
    }

    .hero-text-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .hero-text-title h1{
        width: 250px;
        position: relative;
        margin: 20px;
        padding: 0;
    }

    .hero-text-title h2{
        margin: 10px;
        padding: 0;
        position: inherit;
    }

    .hero-text-btn p{
        margin: 15px;
        width: 285px;
        text-align: center;
        font-size: 15px;
    }

    .hero-text-btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 15px;
    }

    .hero-text-btn button {
        display: none;
    }

    .order-instruction{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .order-instruction h3{
        font-size: 28px;
    }

    .option-card {
        padding: 10px;
        margin-left: 25px;
    }

    .option-card:hover {
        transform: translateY(-3px);
        box-shadow: 5px 4px 15px var(--shadow);
    }

    .order-instruction h6{
        width: 350px;
        font-weight: bold;
    }
    
    .order-bundle{
        margin-top: 10px;
        overflow-x: scroll;
        scrollbar-width: none;
    }

    .modal {
        display: none;
        position: fixed;
        width: 100%;
        padding: 15% auto;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    /*confirmation page*/

    
}

@media screen and (max-width: 430px) and (max-height: 932px){
    #main-content{
        width: 430px;
        overflow: hidden;
    }

    nav {
        width: 430px;
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
    }
   
    #hero-ilustrations{
        width: 430px;
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .elipse{
        width:310px;
        height:310px;
        position: absolute;
    }

    .delivery img{
        width: 345px;
        height: 345px;
        position: relative;
        margin-top: 755px;
        margin-left: 10px;
    }

    .blue-baloon img{
        position: absolute;
        width: 65px;
        margin-top: 590px;
        margin-left: 35px;
        
    }

    .yellow-baloon{
        margin-left: 235px;
        margin-top: -260px;
    }

    .yellow-baloon img{
        width: 70px;
    }

    #hero-bundle{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        flex-direction: column-reverse;
        width: 480px;
        height: 780px;
        margin: 5px;
        padding: 0;
    }

    .hero-text-bundle{
        padding: 5px;
    }

    .hero-text-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .hero-text-title h1{
        width: 250px;
        position: relative;
        margin: 20px;
        padding: 0;
    }

    .hero-text-title h2{
        margin: 10px;
        padding: 0;
        position: inherit;
    }

    .hero-text-btn p{
        margin: 15px;
        width: 285px;
        text-align: center;
        font-size: 15px;
    }

    .hero-text-btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 15px;
    }

    .hero-text-btn button {
        display: none;
    }

    .option-card {
        padding: 10px;
        margin-left: 25px;
    }

    .option-card:hover {
        transform: translateY(-3px);
        box-shadow: 5px 4px 15px var(--shadow);
    }

    .order-instruction h6{
        width: 350px;
        font-weight: bold;
    }
    
    .order-bundle{
        margin-top: 10px;
        overflow-x: scroll;
        scrollbar-width: none;
    }

}

@media screen and (max-width: 480px) and (max-height: 1040px){

    #main-content{
        width: 480px;
        overflow: hidden;
    }

    nav {
        width: 480px;
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
    }

    nav img{
        margin-left: -15px;
    }
   
    #hero-ilustrations{
        width: 480px;
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .elipse{
        width:380px;
        height:380px;
        position: absolute;
    }

    .delivery img{
        width: 430px;
        height: 430px;
        position: relative;
        margin-top: 755px;
        margin-left: 10px;
    }

    .blue-baloon img{
        position: absolute;
        width: 65px;
        margin-top: 615px;
        margin-left: 35px;
        
    }

    .yellow-baloon{
        margin-left: 315px;
        margin-top: -300px;
    }

    .yellow-baloon img{
        width: 75px;
    }

    #hero-bundle{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        flex-direction: column-reverse;
        width: 480px;
        height: 780px;
        margin: 5px;
        padding: 0;
    }

    .hero-text-bundle{
        padding: 5px;
    }

    .hero-text-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .hero-text-title h1{
        width: 250px;
        position: relative;
        margin: 20px;
        padding: 0;
    }

    .hero-text-title h2{
        margin: 10px;
        padding: 0;
        position: inherit;
    }

    .hero-text-btn p{
        margin: 15px;
        width: 285px;
        text-align: center;
        font-size: 15px;
    }

    .hero-text-btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 15px;
    }

    .hero-text-btn button {
        display: none;
    }

    .option-card {
        padding: 10px;
        margin-left: 25px;
    }

    .option-card:hover {
        transform: translateY(-3px);
        box-shadow: 5px 4px 15px var(--shadow);
    }

    .order-instruction h6{
        width: 350px;
        font-weight: bold;
    }
    
    .order-bundle{
        margin-top: 10px;
        overflow-x: scroll;
        scrollbar-width: none;
    }

}

/* @media screen and (max-width: 820px) and (max-height: 1180px){
    #main-content{
        width: 820px;
        overflow: hidden;
    }

    nav {
        width: 820px;
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
    }
   
    #hero-ilustrations{
        width: 480px;
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .elipse{
        width:410px;
        height:410px;
        position: absolute;
    }

    .delivery img{
        width: 480px;
        height: 480px;
        position: relative;
        margin-top: 755px;
        margin-left: 10px;
    }

    .blue-baloon img{
        position: absolute;
        width: 75px;
        margin-top: 615px;
        margin-left: 35px;
        
    }

    .yellow-baloon{
        margin-left: 355px;
        margin-top: -320px;
    }

    .yellow-baloon img{
        width: 75px;
    }

    #hero-bundle{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        flex-direction: column-reverse;
        width: 820px;
        height: 850px;
        margin: 10px;
        padding: 0;
    }

    .hero-text-bundle{
        padding: 5px;
    }

    .hero-text-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .hero-text-title h1{
        width: 250px;
        position: relative;
        margin: 20px;
        padding: 0;
    }

    .hero-text-title h2{
        margin: 10px;
        padding: 0;
        position: inherit;
    }

    .hero-text-btn p{
        margin: 15px;
        width: 285px;
        text-align: center;
        font-size: 15px;
    }

    .hero-text-btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 15px;
    }

    .hero-text-btn button {
        display: none;
    }

    .option-card {
        padding: 10px;
        margin-left: 25px;
    }

    .option-card:hover {
        transform: translateY(-3px);
        box-shadow: 5px 4px 15px var(--shadow);
    }

    .order-instruction h6{
        width: 350px;
        font-weight: bold;
    }
    
    .order-bundle{
        margin-top: 10px;
        overflow-x: scroll;
        scrollbar-width: none;
    }
} */