html,
body {
    margin: 0 auto;
    padding: 0 auto;
    font-family: "M PLUS Rounded 1c", sans-serif;

}

header{
    display: block;
    background-image: url(/assets/red-pattern-main.png);
}

nav img {
    width: 124.69px;
    height: 15.67px;
    margin-top: 40.33px;
    margin-left: 40px;
}

#hero-bundle {
    display: flex;
    justify-content: center;
    /* border: 1px solid white; */
    margin-left: -150px;
}

.hero-text-bundle {
    margin-top: -45px;
    margin-right: 25px;
    position: relative;
}

.hero-text-title {
    display: flex;

}

.hero-text-bundle h1 {
    width: 48px;
    /* height: 224px; */
    margin-top: 156px;
    margin-left: 264px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    ;
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
    text-align: center;
    color: #FFC024;

}

.hero-text-bundle h2 {
    width: 308px;
    /* height: 100px; */
    margin-top: 280px;
    font-family: "M PLUS Rounded 1c";
    font-size: 160px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 100px;
    text-align: center;
    color: white;
    position: relative;
}

.hero-text-btn {
    /* border: 1px solid white; */
    margin-top: -120px;
}

.hero-text-btn p {
    width: 201px;
    /* height: 124px; */
    /* margin-top: 404px; */
    position: relative;
    margin-left: 280px;
    font-family: "M PLUS Rounded 1c";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: white;
}

.hero-text-btn button {
    width: 213px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: #1820EF;
    color: white;
    font-family: "M PLUS Rounded 1c";
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 14px;
    font-weight: 800;
    line-height: 20.79px;
    letter-spacing: 1.7799999713897705px;
    text-align: left;
    text-transform: uppercase;
    margin-left: 273px;
    cursor: pointer;
}

.hero-text-btn button i {
    color: #FFC024;
    font-size: 20px;
}

/* .hero-text-btn button:hover{
        background-color: white;
        color: #1820EF;
    } */

#hero-ilustrations {
    /* border: 1px solid white; */
    width: 673px;
    height: 683px;
    margin-top: 38px;
    margin-left: -160px;
}

.elipse {
    width: 587px;
    height: 587px;
    border-radius: 50%;
    background-color: #730000;
    margin-left: -25px;
}

.hero-ilustrations-bundle {
    /* border: 1px solid black; */
    margin-top: -630px;
}

.blue-baloon {
    margin-left: -50px;
}

.delivery {
    margin-top: -135px;
    margin-left: -65px;
}

.yellow-baloon {
    position: absolute;
    margin-top: -385px;
    margin-left: 515px;
}

#order-broth {
    padding: 0 auto;
}

.order-bundle {
    /* border: 1px solid black; */
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.order-instruction {
    margin-top: 80px;
    margin-bottom: -35px;

}

.order-instruction h3 {
    font-size: 32px;
    font-weight: 900;
    line-height: 47.52px;
    text-align: center;

}

.order-instruction h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: -15px;
}

#order-choice {
    display: flex;
    width: 1087px;
    justify-content: space-between;
    align-items: center;
}

.option-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 316px;
    box-shadow: 0px 4px 12px 0px rgba(224, 219, 191, 0.6);
    border-radius: 10px;
}

.option-card h4 {
    font-family: Rounded Mplus 1c;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    text-align: center;
    margin: 15px;
    color: #1820EF;
}

.option-card p {
    font-family: Rounded Mplus 1c;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    padding: 15px 25px;
    color: black;
}

.option-card h3 {
    color: rgba(255, 78, 66, 1);
    font-family: Rounded Mplus 1c;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    text-align: center;

}

.option-card.selected {
    background-color: #1820EF;
}

.option-card.selected h3 {
    color: #FFC024;
}

.option-card.selected h4 {
    color: white;
}

.option-card.selected p {
    color: white;
}


#btn-checkout {
    display: flex;
    justify-content: center;
    align-content: center;
}

#create-order {
    width: 213px;
    height: 60px;
    border-radius: 50px;
    border: none;
    color: white;
    font-family: "M PLUS Rounded 1c";
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 55px 0;
    font-size: 14px;
    font-weight: 800;
    line-height: 20.79px;
    letter-spacing: 1.7799999713897705px;
    text-align: left;
    text-transform: uppercase;
    background-color: rgba(197, 197, 197, 1);
    cursor: pointer;
}

.modal {
    display: none; /* Ocultar por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fundo semi-transparente */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
    border-radius: 5px;
  }
  
  .close {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
